//custom
$colour-primary: #e92569;
$colour-secondary: #767676;
$colour-grey: #efefef;

//bootstrap
$theme-colors: (
  "primary": $colour-primary,
  "dark": $colour-primary,
  "light": $colour-grey,
);

$font-family-base: "Lato", sans-serif;
$headings-font-family: "Playfair-Display", serif;
$headings-color: $colour-primary;
$body-bg: $colour-grey;
$body-color: $colour-secondary;
$nav-link-color: $colour-primary;
$pagination-color: $colour-primary;
$pagination-border-color: $colour-primary;
$btn-font-family: $font-family-base;

$pagination-active-bg: $colour-primary;

@import "~bootstrap/scss/bootstrap";

@import "./partials/layout";
@import "./partials/navbar";
@import "./partials/footer";
@import "./partials/tabbedContent";
@import "./partials/news";
