.footer {
  height: 9vh;
  background-color: white;
  display: flex;
  align-items: center;

  &__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    @media (min-width: 767px) {
      justify-content: flex-start;
    }
  }

  &__text {
    text-align: center;

    @media (min-width: 767px) {
      text-align: left;
    }
  }
}
