//carousel
.carousel-item {
  height: 50vh;

  @media (min-width: 767px) {
    height: inherit;
  }

  > img {
    object-fit: cover;
  }
}

//intro

.intro {
  margin: 3rem auto;
}
//tabs

.tabs {
  margin: 4rem auto 10rem auto;

  .tab-content {
    background-color: white;
    padding: 2rem 0px 5rem 0px;
    border-bottom: 1px solid $gray-300;
    border-top: 1px solid $gray-300;
    border-right: 1px solid $gray-300;
    border-left: 1px solid $gray-300;
    border-radius: $border-radius;
    border-top-left-radius: 0px;
    box-shadow: 0 0.5rem 1rem rgba($black, 0.15);
  }

  .tab__icons {
    color: $colour-black;

    .svg-inline--fa {
      color: $colour-dark-grey;

      &:hover {
        color: $colour-black;
      }
    }
  }

  .nav-link {
    padding: 0.7rem 2rem;
  }
}

//accordion

.accordion {
  border-radius: 6px;

  &__icons {
    color: $colour-black;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
  }

  .accordion-header {
    font-family: $primary-font;

    .accordion-button {
      color: $colour-primary;

      &::after {
        display: none;
      }
    }
  }
  .show {
    border-top: 1px solid $colour-primary;
  }
}
