.navbar {
  .nav__style {
    padding-left: 1rem;

    @media (min-width: 767px) {
      padding-left: 0px;
    }
  }

  &-brand {
    font-family: $headings-font-family;
    color: $colour-primary !important;
  }

  .active {
    background: white;
    height: 100%;
    padding: 10px 1rem;
    border-radius: 0px;
    width: 100%;

    @media (min-width: 767px) {
      border-radius: 4px;
      padding: 2px 15px;
    }
  }

  .btn-primary {
    color: white;
  }
}
